<div data-role="page" id="ordersPage">
    <div data-role="header">
        <h1>Order Your Hacky Sacks Today!</h1>
    </div>
    <div data-role="content">
        <form id="formOrders" data-ajax="false">
            <div data-role="fieldcontain">	
                <label for="quantity">Quantity:</label>
                <input type="text" name="quantity" id="quantity"/>
            </div>
            <div>
                <button id="placeOrders" type="submit" data-theme="b">Place Orders</button>
            </div>
        </form>
    </div>
</div>

<div data-role="page" id="ordersConfirmationPage">
    <div data-role="header" data-theme="a">
        <a href="#ordersPage" data-icon="home" data-iconpos="notext" data-direction="reverse" data-theme="c">Home</a>
        <H3>Confirmation</H3>
    </div>
    <div data-role="content">
        <H3>Thanks for your order!</H3>
    </div>
</div>
