<!DOCTYPE html> 
<html> 
    <head> 
        <title>Hacky Sack Order Page</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <link href="@Url.Content("~/Content/jquery.mobile-1.1.0.min.css")" rel="stylesheet" type="text/css" />
        <script data-main="@Url.Content("~/Scripts/main")"" src="@Url.Content("~/Scripts/require.js")"></script>	
    </head> 
    <body> 
        @RenderBody()
    </body>
</html>