@model FsWeb.Models.Guitar
<!DOCTYPE html>
<html>
<head>
    <title>Create a guitar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" 
        href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js">
    </script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
    </script>
</head>
<body>
    <div data-role="page" data-theme="a" id="guitarsCreatePage">
        <div data-role="header">
            <h1>Guitars</h1>
        </div>
        <div data-role="content">
            @using (Html.BeginForm("Create", "Guitars", FormMethod.Post))
            {
                <div data-role="fieldcontain">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name)
                    <div>
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
                <div>
                    <button type="submit" data-role="button">Create</button>
                </div>
            }
        </div>
    </div>
</body>
</html>
