<div class="container todoList">
    <h1>My To Do List</h1>
    <div class="detail row-fluid">
        <div class="span6 taskContainer well">
            <div class="column-header">
                <h3>Not Started</h3>
            </div>
            <div class="tasks tasksNotStarted droppable">
            </div>
        </div>
        <div class="span6 taskContainer well">
            <div class="column-header">
                <h3>Done</h3>
            </div>
            <div class="tasks tasksDone droppable"/>
        </div>
    </div>
</div>
