<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="5.6.7" />
  <package id="ImpromptuInterface.FSharp" version="1.1.0" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="SignalR.Hosting.Common" version="0.5.2" />
  <package id="SignalR.Hosting.Self" version="0.5.2" />
  <package id="SignalR.Server" version="0.5.2" />
</packages>